.navOrma{
    background-color: #030629;
}
.logonav img{
    width: 200px;
    height: 40px;
    margin-top: 10px;
}

#picpinjam img{
    width: 434px;
    height: 482px;
}

body .bg{
    opacity: 0.4;
    position: absolute;
    display: flex;
    z-index: -999;
}

.tabs .tab a {
    color:white;
}